/*------ font family --------
==================================================*/
$font-family: 'Poppins', sans-serif;

/*------ common clr --------
==================================================*/
$common-blue: #3e64ff;
$overlay-blue: #edf0ff;